.idea
__pycache__
/sitemapparser.py
/corpora/part_A.conll
/corpora/part_B.conll
/corpora/part_C.conll
/corpora/tiger_release_aug07.corr.16012013.conll09
/pickle/invertierter_index.pickle
/.ipynb_checkpoints/Suche-checkpoint.ipynb
/.ipynb_checkpoints/Search-checkpoint.ipynb
out
.fuse*
/helpers/custom_lemmata.txt_alt
/helpers/custom_lemmata2.xlsx
/helpers/invertierter_index_alt.pickle
